[data-theme="dark"]{
		--background-colour: #000000;
		--text-colour: #0CB57F;
		--section-background-colour: rgba(25, 25, 25, 0.4);
		--button-colour: white;
		--nav-button-hover-background: rgba(20, 103, 140, 0.4);
		--nav-button-hover-colour: white;
		--nav-button-text-colour: var(--text-colour);
		--floating-navbar-background-colour: rgba(25, 25, 25, 0.8);
		--M-hover-colour: var(--text-colour);
}
[data-theme="light"]{
		--background-colour: #ffffff;
		--text-colour: #000000;
		--section-background-colour: rgba(238, 238, 238, 0.4);
		--button-colour: black;
		--nav-button-hover-background: rgba(20, 103, 140, 0.4);
		--nav-button-hover-colour: black;
		--nav-button-text-colour: var(--text-colour);
		--floating-navbar-background-colour: rgba(238, 238, 238, 0.8);
		--M-hover-colour: #000000;
}
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Nanum+Gothic&family=Oxygen&display=swap');
@font-face {
	font-family: 'Didact Gothic', sans-serif;
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Oxygen', sans-serif;
}

:root {
	--preferred-font-family: Oxygen;
	--p2-font-family: Didact Gothic;
	--p3-font-family: Nanum Gothic;
	--Box-hdr_name_contact-Height: 200px;
}


html {
	font-family: var(--preferred-font-family), var(--p2-font-family), var(--p3-font-family), sans-serif;

}
body {
	color: var(--text-colour);
	background-color: var(--background-colour);
	background-image: url("../assets/header_alt_background.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: 0;
}

.hdr-grid1 { grid-area: name_contact; }
.hdr-grid2 { grid-area: photo; }
.hdr-grid3 { grid-area: theme_button; }
.header {
	text-align: left;
	font-size: 130%;
	padding: 50px;
}
.grid-header {
	display: grid;
	/*grid-template-columns: repeat(auto-fit);
	grid-template-areas: 'name_contact photo theme_button';
	grid-template-rows: var(--Box-hdr_name_contact-Height);
	grid-template-columns: 7fr 3fr min-content;*/
}
@media (min-width: 470px) {
	.grid-header {
		grid-template-areas: 'name_contact photo theme_button';
		grid-template-rows: var(--Box-hdr_name_contact-Height);
		grid-template-columns: 7fr 3fr min-content;
	}
}
@media (max-width: 470px) {
	.grid-header {
		grid-template-areas:
			'name_contact theme_button'
			'photo theme_button';
		grid-template-rows: var(--Box-hdr_name_contact-Height) min-content;
		grid-template-columns: 7fr min-content;
	}
}
.mename {
	font-size: 170%;
	font-variant: small-caps;
}
.mail-id {
	font-family: Segoe UI;
	cursor: copy;
}
.links {
	display: flex;
	align-content: flex-start;
}
.links>a {
	Padding: 0.3em;
}
.links>a>img {
	flex: auto;
	object-fit: contain;
	max-width: 50px;
	max-height: 50px;
}
.links>a>img:hover {
	box-shadow: 0 0 10px 10px var(--nav-button-hover-background);
}
.passport-face>img {
	display: none;
	object-fit: contain;
	width: 100%;
	max-height: 100%;
}
.transparent-navbar {
	background-color: var(--section-background-colour);
	padding: 0;
}

.nav-grid1 { grid-area: navi; }
.nav-grid2 { grid-area: themechanger;
	/*display: none;*/
	align-self: center;
}
@media (min-width: 720px) {
	.nav-grid2 {
		padding: 2em;
	}
}
	
/*.nav-empty-grid { grid-area: nothing; }*/
	
.grid-navbar {
	display: grid;
	grid-template-areas: 
	/*	'navi nothing'*/
		'navi themechanger'
	/*	'navi nothing'*/;
	grid-template-columns: 9fr min-content;
}
.flex-nav {
	list-style: none;
	display: flex;
	padding: 0;
	align-content: flex-start;
	flex-wrap: wrap;
}
.flex-nav .button {
	flex: auto;
	text-align: center;
	color: var(--nav-button-text-colour);
}
.flex-nav li {
	text-align: center;
	padding: 1.6em;
	font-variant: small-caps;
}
.flex-nav .button:hover {
	background: var(--nav-button-hover-background);
	color: var(--nav-button-hover-colour);
}
.nav-button {
	
}
/*.fixed-on-top + .compensator {
	padding: var(--JS-calculated-navbar-height);
}*/
.fixed-on-top {
	position: sticky;
	top: 0;
	background-color: var(--floating-navbar-background-colour);
}

.themechanger {
	/*float: right;*/
	background-color: var(--button-colour);
	/*border-color: var(--button-colour);*/
	border: none;
	/*padding: 10px 10px;*/
	height: 20px;
	width: 20px;
}

.spacer1 {
	padding: 20px;
}
.default-piece {
	background-color: var(--section-background-colour);
	border-color: #006D99;
	box-sizing: border-box;
	width: 85%;
	margin: auto;
	padding: 2%;
}
.not-ready {
	/*display: none;*/
}
#pop-up-message {
	display: none;
	position: fixed;
	vertical-align: middle;
	left: 50%;
    transform: translateX(-50%);
	text-align: center;
	margin: auto;
	padding: 2%;
	background-color: var(--nav-button-hover-background);
	border-color: #006D99;
	box-sizing: border-box;
	width: auto;
	font-size: 170%
	
}
#fiverrbutton
{
	display: none;
}
#fiverr
{
	display: none;
}
