[data-theme="dark"]{
		--background-colour: #000000;
		--text-colour: #0CB57F;
		--section-background-colour: rgba(25, 25, 25, 0.4);
		--button-colour: white;
}
[data-theme="light"]{
		--background-colour: #ffffff;
		--text-colour: #000000;
		--section-background-colour: rgba(238, 238, 238, 0.4);
		--button-colour: black;
}

:root {	
	--default-font-family: Segoe UI;
	--JS-calculated-navbar-height: 60.5px;
}


html {
	font-family: var(--default-font-family);

}
body {
	color: var(--text-colour);
	background-color: var(--background-colour);
	background-image: url("../assets/header_alt_background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: 0;
}
.header {
	text-align: left;
	font-size: 130%;
	padding: 50px;
	/*background-image: url("../assets/header_alt_background.png");
	background-size: 2240px 120%;
	background-repeat: no-repeat;
	background-position: center;*/
	/*background-max-height: 50px;*/
	/*background-clip: border-box;*/
	/*background-attachment: fixed;*/
}
.transparent-navbar {
	background-color: var(--section-background-colour);
	padding: 0;
}
.flex-nav {
	list-style: none;
	display: flex;
	padding: 0;
	align-content: flex-start;
	flex-wrap: wrap;
}
.flex-nav li {
	flex: auto;
	text-align: center;
	padding: 1.6em;
}
.flex-nav .button:hover {
     background: red;
}
.nav-button {
	
}
.fixed-on-top {
	position: fixed;
	top: 0;
}
.fixed-on-top + .compensator {
	padding: var(--JS-calculated-navbar-height);
}
.themechanger {
	float: right;
	background-color: var(--button-colour);
	/*border-color: var(--button-colour);*/
	border: none;
	padding: 10px 10px;
}
.mename {
	font-size: 170%;
	font-variant: small-caps;
}
.mail-id {
	font-family: Segoe UI;
}
.spacer1 {
	padding: 20px;
}
.not-ready {
	background-color: var(--section-background-colour);
	border-color: #006D99;
	box-sizing: border-box;
	width: 85%;
	margin: auto;
	padding: 2%;
}
